<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>顶部滚动菜单.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FB8793511D841D300022DE57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB87936A1D841D300022DE57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FB8793751D841D300022DE57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
